* {
    background-color: aquamarine;
}
body {
    font-family: sans-serif;
}

img {
    float: right;
    height: 250px;
    width: auto;
    border-radius: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(65, 53, 18);
}